In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Automobile.csv')

In [3]:
df=df.drop(['index'],axis=1)

In [4]:
df

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
...,...,...,...,...,...,...,...,...,...
56,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
57,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
58,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
59,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
60,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

In [5]:
from sklearn.preprocessing import LabelEncoder
l=LabelEncoder()

In [6]:
df['company']=l.fit_transform(df['company'])

In [7]:
from word2number import w2n

In [8]:
df['num-of-cylinders']=df['num-of-cylinders'].apply(w2n.word_to_num)

In [9]:
l2=LabelEncoder()
df['body-style']=l2.fit_transform(df['body-style'])

In [10]:
l3=LabelEncoder()
df['engine-type']=l3.fit_transform(df['engine-type'])

In [11]:
df['price'].fillna(15387,inplace=True)

C:\Users\nihal\AppData\Local\Temp\ipykernel_22052\3071471888.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['price'].fillna(15387,inplace=True)

In [12]:
x=df.drop(['price'],axis=1)

In [13]:
y=df['price']

In [14]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2)

In [15]:
from sklearn.ensemble import RandomForestRegressor
model=RandomForestRegressor()

In [16]:
model.fit(xtrain,ytrain)
model.score(xtest,ytest)

0.9469181076340255

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   company           61 non-null     int64
 1   body-style        61 non-null     int64
 2   wheel-base        61 non-null     float64
 3   length            61 non-null     float64
 4   engine-type       61 non-null     int64
 5   num-of-cylinders  61 non-null     int64
 6   horsepower        61 non-null     int64
 7   average-mileage   61 non-null     int64
 8   price             61 non-null     float64
dtypes: float64(3), int64(6)
memory usage: 4.4 KB

In [18]:
model.predict(xtest)

# a=input('Enter company name')
# a=l.transform([a])[0]
# b=input('Enter BodyStyle')
# b=l2.transform([b])[0]
# c=float(input('Enter WheelBase'))
# d=float(input('Enter Length'))
# e=input('Enter EngineType')
# e=l3.transform([e])[0]
# f=float(input('Enter no.of Cylinders'))
# g=float(input('Enter HorsePower'))
# h=float(input('Enter Mileage'))
# model.predict([[a,b,c,d,e,f,g,h]])

array([ 6174.74      , 37386.03      , 23271.91      , 10266.525     ,
       18297.52      , 16897.74083333, 12390.43333333, 36407.89      ,
       14462.775     ,  8171.8       ,  5943.405     ,  7020.52666667,
        8224.26      ])

MODELS

In [19]:
model1=RandomForestRegressor(n_estimators=23,random_state=90)
model1.fit(xtrain,ytrain)
model1.score(xtest,ytest)

0.9404659668158766

In [20]:
model2=RandomForestRegressor(n_estimators=30,random_state=80)
model2.fit(xtrain,ytrain)
model2.score(xtest,ytest)

0.9280796642614775

In [21]:
model3=RandomForestRegressor(n_estimators=50,random_state=100)
model3.fit(xtrain,ytrain)
model3.score(xtest,ytest)

0.928692892475413