In [1]:
import pandas as pd

In [2]:
dp=pd.read_csv('disease_prediction.csv')
print(dp)

      Age  Gender  Blood_Pressure Cholesterol  Glucose Smoking Alcohol_Intake  \
0    70.0    Male            92.0        High     78.0     Yes     Frequently
1    32.0  Female             NaN         Low     91.0     Yes          Never
2    38.0    Male           133.0      Normal    158.0     Yes          Never
3    68.0    Male            86.0      Normal     87.0     Yes          Never
4    25.0    Male           158.0         NaN    184.0     Yes   Occasionally
..    ...     ...             ...         ...      ...     ...            ...
395   NaN  Female           145.0         Low    145.0      No     Frequently
396  21.0    Male           120.0        High    170.0     Yes          Never
397  74.0    Male           124.0      Normal     83.0      No            NaN
398  27.0  Female            94.0         Low      NaN     Yes          Never
399  67.0    Male             NaN      Normal    193.0     Yes          Never

         Obesity  Exercise         Disease  ...  Respiratory_Rate   BMI  \
0         Normal  Moderate   Heart Disease  ...               NaN  38.0
1     Overweight       Low      No Disease  ...              29.0  25.0
2         Normal       NaN      No Disease  ...              25.0  36.0
3     Overweight       NaN      No Disease  ...              15.0  39.0
4     Overweight       Low        Diabetes  ...              15.0   NaN
..           ...       ...             ...  ...               ...   ...
395   Overweight       NaN             NaN  ...              19.0  36.0
396        Obese  Moderate  Kidney Disease  ...              19.0  33.0
397   Overweight  Moderate      No Disease  ...              12.0  24.0
398  Underweight       NaN   Heart Disease  ...              18.0  25.0
399   Overweight       NaN  Kidney Disease  ...              17.0  35.0

     Family_History Sleep_Hours  Daily_Steps  Sodium_Level  Potassium_Level  \
0               Yes         4.0       5458.0         133.0              5.0
1               Yes         NaN      12061.0         141.0              NaN
2               Yes         7.0      10604.0           NaN              5.0
3               Yes         5.0       1667.0         142.0              4.0
4               NaN         8.0       4370.0         134.0              5.0
..              ...         ...          ...           ...              ...
395              No         8.0      13489.0         138.0              4.0
396             Yes         8.0          NaN         141.0              4.0
397             Yes         8.0      11602.0         134.0              3.0
398             Yes         NaN       5987.0         140.0              3.0
399              No         5.0       7597.0         149.0              3.0

     Hemoglobin  White_Blood_Cells          Output
0          14.0                NaN  Kidney Disease
1          12.0             6620.0      No Disease
2          14.0             6646.0        Diabetes
3          13.0             8865.0         Obesity
4           NaN             6289.0        Diabetes
..          ...                ...             ...
395        12.0                NaN        Diabetes
396         NaN            10488.0        Diabetes
397        15.0             7231.0  Kidney Disease
398        17.0                NaN      No Disease
399        15.0             7983.0        Diabetes

[400 rows x 21 columns]

In [3]:
dp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Age                360 non-null    float64
 1   Gender             360 non-null    object
 2   Blood_Pressure     360 non-null    float64
 3   Cholesterol        360 non-null    object
 4   Glucose            360 non-null    float64
 5   Smoking            360 non-null    object
 6   Alcohol_Intake     360 non-null    object
 7   Obesity            360 non-null    object
 8   Exercise           268 non-null    object
 9   Disease            360 non-null    object
 10  Heart_Rate         360 non-null    float64
 11  Respiratory_Rate   360 non-null    float64
 12  BMI                360 non-null    float64
 13  Family_History     360 non-null    object
 14  Sleep_Hours        360 non-null    float64
 15  Daily_Steps        360 non-null    float64
 16  Sodium_Level       360 non-null    float64
 17  Potassium_Level    360 non-null    float64
 18  Hemoglobin         360 non-null    float64
 19  White_Blood_Cells  360 non-null    float64
 20  Output             400 non-null    object
dtypes: float64(12), object(9)
memory usage: 65.8+ KB

In [4]:
dp.head()

,Age,Gender,Blood_Pressure,Cholesterol,Glucose,Smoking,Alcohol_Intake,Obesity,Exercise,Disease,...,Respiratory_Rate,BMI,Family_History,Sleep_Hours,Daily_Steps,Sodium_Level,Potassium_Level,Hemoglobin,White_Blood_Cells,Output
0,70.0,Male,92.0,High,78.0,Yes,Frequently,Normal,Moderate,Heart Disease,...,NaN,38.0,Yes,4.0,5458.0,133.0,5.0,14.0,NaN,Kidney Disease
1,32.0,Female,NaN,Low,91.0,Yes,Never,Overweight,Low,No Disease,...,29.0,25.0,Yes,NaN,12061.0,141.0,NaN,12.0,6620.0,No Disease
2,38.0,Male,133.0,Normal,158.0,Yes,Never,Normal,NaN,No Disease,...,25.0,36.0,Yes,7.0,10604.0,NaN,5.0,14.0,6646.0,Diabetes
3,68.0,Male,86.0,Normal,87.0,Yes,Never,Overweight,NaN,No Disease,...,15.0,39.0,Yes,5.0,1667.0,142.0,4.0,13.0,8865.0,Obesity
4,25.0,Male,158.0,NaN,184.0,Yes,Occasionally,Overweight,Low,Diabetes,...,15.0,NaN,NaN,8.0,4370.0,134.0,5.0,NaN,6289.0,Diabetes

In [5]:
dp.tail()

,Age,Gender,Blood_Pressure,Cholesterol,Glucose,Smoking,Alcohol_Intake,Obesity,Exercise,Disease,...,Respiratory_Rate,BMI,Family_History,Sleep_Hours,Daily_Steps,Sodium_Level,Potassium_Level,Hemoglobin,White_Blood_Cells,Output
395,NaN,Female,145.0,Low,145.0,No,Frequently,Overweight,NaN,NaN,...,19.0,36.0,No,8.0,13489.0,138.0,4.0,12.0,NaN,Diabetes
396,21.0,Male,120.0,High,170.0,Yes,Never,Obese,Moderate,Kidney Disease,...,19.0,33.0,Yes,8.0,NaN,141.0,4.0,NaN,10488.0,Diabetes
397,74.0,Male,124.0,Normal,83.0,No,NaN,Overweight,Moderate,No Disease,...,12.0,24.0,Yes,8.0,11602.0,134.0,3.0,15.0,7231.0,Kidney Disease
398,27.0,Female,94.0,Low,NaN,Yes,Never,Underweight,NaN,Heart Disease,...,18.0,25.0,Yes,NaN,5987.0,140.0,3.0,17.0,NaN,No Disease
399,67.0,Male,NaN,Normal,193.0,Yes,Never,Overweight,NaN,Kidney Disease,...,17.0,35.0,No,5.0,7597.0,149.0,3.0,15.0,7983.0,Diabetes

In [6]:
dp.isna().sum()

Age                   40
Gender                40
Blood_Pressure        40
Cholesterol           40
Glucose               40
Smoking               40
Alcohol_Intake        40
Obesity               40
Exercise             132
Disease               40
Heart_Rate            40
Respiratory_Rate      40
BMI                   40
Family_History        40
Sleep_Hours           40
Daily_Steps           40
Sodium_Level          40
Potassium_Level       40
Hemoglobin            40
White_Blood_Cells     40
Output                 0
dtype: int64

In [7]:
dp.describe()

,Age,Blood_Pressure,Glucose,Heart_Rate,Respiratory_Rate,BMI,Sleep_Hours,Daily_Steps,Sodium_Level,Potassium_Level,Hemoglobin,White_Blood_Cells
count,360.000000,360.000000,360.000000,360.000000,360.000000,360.000000,360.000000,360.000000,360.000000,360.00000,360.000000,360.000000
mean,50.797222,127.519444,137.066667,90.958333,20.113889,28.605556,6.502778,7980.369444,139.180556,4.00000,13.372222,7456.125000
std,16.738709,27.399544,38.533074,16.713911,5.161549,6.432419,1.667314,3978.969838,5.670444,0.82779,2.405960,1950.802317
min,20.000000,80.000000,71.000000,60.000000,12.000000,18.000000,4.000000,1028.000000,130.000000,3.00000,10.000000,4051.000000
25%,36.000000,105.000000,101.000000,77.000000,16.000000,23.000000,5.000000,4615.500000,134.750000,3.00000,11.000000,5757.500000
50%,52.000000,127.000000,141.000000,91.500000,20.000000,29.000000,6.000000,7997.500000,139.000000,4.00000,13.000000,7345.500000
75%,64.250000,150.250000,172.000000,106.000000,24.000000,34.250000,8.000000,11389.000000,144.000000,5.00000,15.000000,9089.250000
max,79.000000,179.000000,199.000000,119.000000,29.000000,39.000000,9.000000,14947.000000,149.000000,5.00000,17.000000,10993.000000

In [8]:
dp['Age'].fillna(51,inplace=True)

C:\Users\nihal\AppData\Local\Temp\ipykernel_8208\1396758405.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dp['Age'].fillna(51,inplace=True)

In [9]:
dp['Gender'].value_counts()
dp['Gender'].backfill(inplace=True)

C:\Users\nihal\AppData\Local\Temp\ipykernel_8208\2789722280.py:2: FutureWarning: DataFrame.backfill/Series.backfill is deprecated. Use DataFrame.bfill/Series.bfill instead
  dp['Gender'].backfill(inplace=True)

In [10]:
dp['Blood_Pressure'].fillna(128,inplace=True)

C:\Users\nihal\AppData\Local\Temp\ipykernel_8208\1337692052.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dp['Blood_Pressure'].fillna(128,inplace=True)

In [11]:
dp['Cholesterol'].backfill(inplace=True)
dp['Cholesterol'].value_counts()

C:\Users\nihal\AppData\Local\Temp\ipykernel_8208\134023026.py:1: FutureWarning: DataFrame.backfill/Series.backfill is deprecated. Use DataFrame.bfill/Series.bfill instead
  dp['Cholesterol'].backfill(inplace=True)

Cholesterol
High      147
Normal    142
Low       111
Name: count, dtype: int64

In [12]:
dp['Glucose'].fillna(137,inplace=True)

C:\Users\nihal\AppData\Local\Temp\ipykernel_8208\4276720964.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dp['Glucose'].fillna(137,inplace=True)

In [13]:
dp['Smoking'].backfill(inplace=True)

C:\Users\nihal\AppData\Local\Temp\ipykernel_8208\3804542598.py:1: FutureWarning: DataFrame.backfill/Series.backfill is deprecated. Use DataFrame.bfill/Series.bfill instead
  dp['Smoking'].backfill(inplace=True)

In [14]:
dp['Alcohol_Intake'].ffill(inplace=True)

C:\Users\nihal\AppData\Local\Temp\ipykernel_8208\364508684.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dp['Alcohol_Intake'].ffill(inplace=True)

In [15]:
dp['Obesity'].backfill(inplace=True)

C:\Users\nihal\AppData\Local\Temp\ipykernel_8208\1639746385.py:1: FutureWarning: DataFrame.backfill/Series.backfill is deprecated. Use DataFrame.bfill/Series.bfill instead
  dp['Obesity'].backfill(inplace=True)

In [16]:
dp['Exercise'].ffill(inplace=True)

C:\Users\nihal\AppData\Local\Temp\ipykernel_8208\4193958389.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dp['Exercise'].ffill(inplace=True)

In [17]:
dp['Disease'].backfill(inplace=True)

C:\Users\nihal\AppData\Local\Temp\ipykernel_8208\391653145.py:1: FutureWarning: DataFrame.backfill/Series.backfill is deprecated. Use DataFrame.bfill/Series.bfill instead
  dp['Disease'].backfill(inplace=True)

In [18]:
dp['Heart_Rate'].fillna(91,inplace=True)

C:\Users\nihal\AppData\Local\Temp\ipykernel_8208\3914546321.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dp['Heart_Rate'].fillna(91,inplace=True)

In [19]:
dp['Respiratory_Rate'].fillna(20,inplace=True)

C:\Users\nihal\AppData\Local\Temp\ipykernel_8208\1635916501.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dp['Respiratory_Rate'].fillna(20,inplace=True)

In [20]:
dp['BMI'].fillna(29,inplace=True)

C:\Users\nihal\AppData\Local\Temp\ipykernel_8208\1403487984.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dp['BMI'].fillna(29,inplace=True)

In [21]:
dp['Family_History'].backfill(inplace=True)

C:\Users\nihal\AppData\Local\Temp\ipykernel_8208\2107393748.py:1: FutureWarning: DataFrame.backfill/Series.backfill is deprecated. Use DataFrame.bfill/Series.bfill instead
  dp['Family_History'].backfill(inplace=True)

In [22]:
dp['Sleep_Hours'].fillna(7,inplace=True)

C:\Users\nihal\AppData\Local\Temp\ipykernel_8208\411639461.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dp['Sleep_Hours'].fillna(7,inplace=True)

In [23]:
dp['Daily_Steps'].fillna(7980,inplace=True)

C:\Users\nihal\AppData\Local\Temp\ipykernel_8208\1404944680.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dp['Daily_Steps'].fillna(7980,inplace=True)

In [24]:
dp['Sodium_Level'].fillna(139,inplace=True)

C:\Users\nihal\AppData\Local\Temp\ipykernel_8208\247879503.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dp['Sodium_Level'].fillna(139,inplace=True)

In [25]:
dp['Potassium_Level'].fillna(4,inplace=True)

C:\Users\nihal\AppData\Local\Temp\ipykernel_8208\3173172199.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dp['Potassium_Level'].fillna(4,inplace=True)

In [26]:
dp['Hemoglobin'].fillna(13,inplace=True)

C:\Users\nihal\AppData\Local\Temp\ipykernel_8208\2453729877.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dp['Hemoglobin'].fillna(13,inplace=True)

In [27]:
dp['White_Blood_Cells'].fillna(7456,inplace=True)

C:\Users\nihal\AppData\Local\Temp\ipykernel_8208\1809745323.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dp['White_Blood_Cells'].fillna(7456,inplace=True)

In [28]:
dp.isna().sum()

Age                  0
Gender               0
Blood_Pressure       0
Cholesterol          0
Glucose              0
Smoking              0
Alcohol_Intake       0
Obesity              0
Exercise             0
Disease              0
Heart_Rate           0
Respiratory_Rate     0
BMI                  0
Family_History       0
Sleep_Hours          0
Daily_Steps          0
Sodium_Level         0
Potassium_Level      0
Hemoglobin           0
White_Blood_Cells    0
Output               0
dtype: int64

In [29]:
from sklearn.preprocessing import LabelEncoder
l=LabelEncoder()

In [30]:
dp.describe()

,Age,Blood_Pressure,Glucose,Heart_Rate,Respiratory_Rate,BMI,Sleep_Hours,Daily_Steps,Sodium_Level,Potassium_Level,Hemoglobin,White_Blood_Cells
count,400.00000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.00000,400.000000,400.000000,400.000000
mean,50.81750,127.567500,137.060000,90.962500,20.102500,28.645000,6.552500,7980.332500,139.16250,4.000000,13.335000,7456.112500
std,15.87764,25.990271,36.550599,15.854005,4.896113,6.102629,1.588569,3774.256605,5.37898,0.785201,2.284913,1850.435874
min,20.00000,80.000000,71.000000,60.000000,12.000000,18.000000,4.000000,1028.000000,130.00000,3.000000,10.000000,4051.000000
25%,38.00000,107.000000,107.000000,79.000000,16.000000,24.000000,5.000000,4878.000000,135.00000,3.000000,11.000000,5955.250000
50%,51.00000,128.000000,137.000000,91.000000,20.000000,29.000000,7.000000,7980.000000,139.00000,4.000000,13.000000,7456.000000
75%,63.00000,147.000000,168.000000,103.250000,24.000000,34.000000,8.000000,11065.000000,143.25000,5.000000,15.000000,8847.750000
max,79.00000,179.000000,199.000000,119.000000,29.000000,39.000000,9.000000,14947.000000,149.00000,5.000000,17.000000,10993.000000

In [31]:
dp['Age']=dp['Age'].astype(int)

In [32]:
dp['Blood_Pressure']=dp['Blood_Pressure'].astype(int)

In [33]:
dp['Glucose']=dp['Glucose'].astype(int)

In [34]:
dp['Heart_Rate']=dp['Heart_Rate'].astype(int)

In [35]:
dp['Respiratory_Rate']=dp['Respiratory_Rate'].astype(int)

In [36]:
dp['BMI']=dp['BMI'].astype(int)

In [37]:
dp['Sleep_Hours']=dp['Sleep_Hours'].astype(int)

In [38]:
dp['Daily_Steps']=dp['Daily_Steps'].astype(int)

In [39]:
dp['Sodium_Level']=dp['Sodium_Level'].astype(int)

In [40]:
dp['Potassium_Level']=dp['Potassium_Level'].astype(int)

In [41]:
dp['Hemoglobin']=dp['Hemoglobin'].astype(int)

In [42]:
dp['White_Blood_Cells']=dp['White_Blood_Cells'].astype(int)

In [43]:
dp['Gender']=l.fit_transform(dp['Gender'])

In [44]:
dp['Cholesterol']=l.fit_transform(dp['Cholesterol'])

In [45]:
dp['Smoking']=l.fit_transform(dp['Smoking'])

In [46]:
dp['Alcohol_Intake']=l.fit_transform(dp['Alcohol_Intake'])

In [47]:
dp['Obesity']=l.fit_transform(dp['Obesity'])

In [48]:
dp['Exercise']=l.fit_transform(dp['Exercise'])

In [49]:
dp['Disease']=l.fit_transform(dp['Disease'])

In [50]:
dp['Family_History']=l.fit_transform(dp['Family_History'])

In [51]:
dp['Output']=l.fit_transform(dp['Output'])

In [52]:
dp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Age                400 non-null    int64
 1   Gender             400 non-null    int64
 2   Blood_Pressure     400 non-null    int64
 3   Cholesterol        400 non-null    int64
 4   Glucose            400 non-null    int64
 5   Smoking            400 non-null    int64
 6   Alcohol_Intake     400 non-null    int64
 7   Obesity            400 non-null    int64
 8   Exercise           400 non-null    int64
 9   Disease            400 non-null    int64
 10  Heart_Rate         400 non-null    int64
 11  Respiratory_Rate   400 non-null    int64
 12  BMI                400 non-null    int64
 13  Family_History     400 non-null    int64
 14  Sleep_Hours        400 non-null    int64
 15  Daily_Steps        400 non-null    int64
 16  Sodium_Level       400 non-null    int64
 17  Potassium_Level    400 non-null    int64
 18  Hemoglobin         400 non-null    int64
 19  White_Blood_Cells  400 non-null    int64
 20  Output             400 non-null    int64
dtypes: int64(21)
memory usage: 65.8 KB

In [53]:
dp.head()

,Age,Gender,Blood_Pressure,Cholesterol,Glucose,Smoking,Alcohol_Intake,Obesity,Exercise,Disease,...,Respiratory_Rate,BMI,Family_History,Sleep_Hours,Daily_Steps,Sodium_Level,Potassium_Level,Hemoglobin,White_Blood_Cells,Output
0,70,1,92,0,78,1,0,0,2,1,...,20,38,1,4,5458,133,5,14,7456,2
1,32,0,128,1,91,1,1,2,1,3,...,29,25,1,7,12061,141,4,12,6620,3
2,38,1,133,2,158,1,1,0,1,3,...,25,36,1,7,10604,139,5,14,6646,0
3,68,1,86,2,87,1,1,2,1,3,...,15,39,1,5,1667,142,4,13,8865,4
4,25,1,158,0,184,1,2,2,1,0,...,15,29,1,8,4370,134,5,13,6289,0

In [54]:
x=dp.drop(['Output'],axis=1)
print(x)

     Age  Gender  Blood_Pressure  Cholesterol  Glucose  Smoking  \
0     70       1              92            0       78        1
1     32       0             128            1       91        1
2     38       1             133            2      158        1
3     68       1              86            2       87        1
4     25       1             158            0      184        1
..   ...     ...             ...          ...      ...      ...
395   51       0             145            1      145        0
396   21       1             120            0      170        1
397   74       1             124            2       83        0
398   27       0              94            1      137        1
399   67       1             128            2      193        1

     Alcohol_Intake  Obesity  Exercise  Disease  Heart_Rate  Respiratory_Rate  \
0                 0        0         2        1         113                20
1                 1        2         1        3         109                29
2                 1        0         1        3          80                25
3                 1        2         1        3          81                15
4                 2        2         1        0          80                15
..              ...      ...       ...      ...         ...               ...
395               0        2         1        2          74                19
396               1        1         2        2          76                19
397               1        2         2        3         109                12
398               1        3         2        1          96                18
399               1        2         2        2          72                17

     BMI  Family_History  Sleep_Hours  Daily_Steps  Sodium_Level  \
0     38               1            4         5458           133
1     25               1            7        12061           141
2     36               1            7        10604           139
3     39               1            5         1667           142
4     29               1            8         4370           134
..   ...             ...          ...          ...           ...
395   36               0            8        13489           138
396   33               1            8         7980           141
397   24               1            8        11602           134
398   25               1            7         5987           140
399   35               0            5         7597           149

     Potassium_Level  Hemoglobin  White_Blood_Cells
0                  5          14               7456
1                  4          12               6620
2                  5          14               6646
3                  4          13               8865
4                  5          13               6289
..               ...         ...                ...
395                4          12               7456
396                4          13              10488
397                3          15               7231
398                3          17               7456
399                3          15               7983

[400 rows x 20 columns]

In [55]:
y=dp['Output']
print(y)

0      2
1      3
2      0
3      4
4      0
      ..
395    0
396    0
397    2
398    3
399    0
Name: Output, Length: 400, dtype: int64

In [56]:
from sklearn.model_selection import train_test_split

In [57]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2)

In [58]:
print(xtrain)

     Age  Gender  Blood_Pressure  Cholesterol  Glucose  Smoking  \
336   56       0             153            2      185        1
377   69       1             105            0       76        1
335   30       1             128            2      116        1
376   43       1             111            0      141        0
132   22       0              94            0      101        1
..   ...     ...             ...          ...      ...      ...
58    54       1              99            2      198        0
203   78       0             137            0      173        1
81    64       1             138            2      137        1
398   27       0              94            1      137        1
185   72       0             130            1      177        0

     Alcohol_Intake  Obesity  Exercise  Disease  Heart_Rate  Respiratory_Rate  \
336               1        2         1        2         108                12
377               2        3         2        3         114                23
335               0        0         1        1          91                22
376               2        3         0        0          71                17
132               0        3         0        2          89                29
..              ...      ...       ...      ...         ...               ...
58                1        2         0        0         101                14
203               2        3         1        2         108                21
81                1        2         0        1          93                28
398               1        3         2        1          96                18
185               2        3         0        2          94                23

     BMI  Family_History  Sleep_Hours  Daily_Steps  Sodium_Level  \
336   27               1            4         8846           133
377   29               1            7         5798           144
335   35               0            4         7980           138
376   31               1            7        14871           149
132   18               0            5        12381           142
..   ...             ...          ...          ...           ...
58    19               0            8         5598           147
203   27               0            6        13598           133
81    30               0            9         2341           130
398   25               1            7         5987           140
185   36               0            7        14231           134

     Potassium_Level  Hemoglobin  White_Blood_Cells
336                5          14               6474
377                5          11               8050
335                5          12               7456
376                3          11               8775
132                3          11               8016
..               ...         ...                ...
58                 5          10               5648
203                3          14               7456
81                 4          13               6176
398                3          17               7456
185                3          11               5724

[320 rows x 20 columns]

In [59]:
print(xtest)

     Age  Gender  Blood_Pressure  Cholesterol  Glucose  Smoking  \
92    51       1             132            2      144        1
22    66       1             128            1      178        1
338   37       0             126            0       94        0
182   35       0             128            0      182        0
337   51       1             119            1       99        0
..   ...     ...             ...          ...      ...      ...
85    53       1             108            1      122        0
80    55       0             149            2      181        1
279   60       0             118            0      165        0
167   53       0              95            0      198        1
43    31       1             177            2      100        0

     Alcohol_Intake  Obesity  Exercise  Disease  Heart_Rate  Respiratory_Rate  \
92                1        3         1        1         103                15
22                0        1         0        0          69                19
338               0        3         2        2          99                17
182               1        2         0        1          99                17
337               0        0         0        2          83                18
..              ...      ...       ...      ...         ...               ...
85                1        0         1        2         109                28
80                0        3         2        2          96                20
279               1        1         2        2          82                18
167               0        2         2        2          96                20
43                2        3         2        2         118                23

     BMI  Family_History  Sleep_Hours  Daily_Steps  Sodium_Level  \
92    29               1            4         1393           135
22    26               0            6        14600           135
338   26               0            7         7980           142
182   20               1            7         7980           139
337   24               1            7         7611           144
..   ...             ...          ...          ...           ...
85    21               1            7        14703           134
80    30               0            6         5277           147
279   32               0            7         6906           131
167   39               1            4         1356           133
43    31               1            7         7980           140

     Potassium_Level  Hemoglobin  White_Blood_Cells
92                 3          15               6332
22                 4          14               8218
338                3          10               7507
182                4          16               6750
337                3          15               7130
..               ...         ...                ...
85                 4          13               6233
80                 4          12               5046
279                5          15               6576
167                5          14               8001
43                 4          10               4656

[80 rows x 20 columns]

In [60]:
print(ytrain)

336    0
377    3
335    4
376    0
132    3
      ..
58     0
203    0
81     2
398    3
185    0
Name: Output, Length: 320, dtype: int64

In [61]:
print(ytest)

92     0
22     0
338    3
182    0
337    3
      ..
85     2
80     0
279    0
167    0
43     1
Name: Output, Length: 80, dtype: int64

In [62]:
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier()
model.fit(xtrain,ytrain)

DecisionTreeClassifier()

In [63]:
model.predict(xtest)

array([0, 0, 3, 0, 3, 0, 0, 2, 2, 2, 1, 1, 0, 1, 4, 0, 3, 0, 0, 2, 0, 2,
       1, 1, 3, 1, 0, 1, 2, 3, 1, 0, 1, 1, 3, 4, 1, 1, 0, 0, 4, 0, 4, 0,
       0, 0, 3, 4, 3, 3, 4, 4, 3, 0, 1, 0, 0, 2, 0, 1, 4, 4, 0, 0, 1, 2,
       0, 4, 0, 4, 0, 1, 0, 0, 0, 2, 0, 0, 0, 1])

In [64]:
print(ytest)

92     0
22     0
338    3
182    0
337    3
      ..
85     2
80     0
279    0
167    0
43     1
Name: Output, Length: 80, dtype: int64

In [65]:
model.score(xtest,ytest)

1.0

In [66]:
import numpy as np
sinput=np.array([[61,1,155,2,137,0,0,2,1,2,96,15,29,1,6,4384,143,5,14,10187]])
model.predict(sinput)

c:\Users\nihal\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1])