In [1]:
import pandas as pd
df=pd.read_csv('kidney_disease.csv')
df.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [2]:
df.tail()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
395,395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [3]:
import pandas as pd
df.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              400 non-null    int64
 1   age             391 non-null    float64
 2   bp              388 non-null    float64
 3   sg              353 non-null    float64
 4   al              354 non-null    float64
 5   su              351 non-null    float64
 6   rbc             248 non-null    object
 7   pc              335 non-null    object
 8   pcc             396 non-null    object
 9   ba              396 non-null    object
 10  bgr             356 non-null    float64
 11  bu              381 non-null    float64
 12  sc              383 non-null    float64
 13  sod             313 non-null    float64
 14  pot             312 non-null    float64
 15  hemo            348 non-null    float64
 16  pcv             330 non-null    object
 17  wc              295 non-null    object
 18  rc              270 non-null    object
 19  htn             398 non-null    object
 20  dm              398 non-null    object
 21  cad             398 non-null    object
 22  appet           399 non-null    object
 23  pe              399 non-null    object
 24  ane             399 non-null    object
 25  classification  400 non-null    object
dtypes: float64(11), int64(1), object(14)
memory usage: 81.4+ KB

In [5]:
df.describe()

,id,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo
count,400.000000,391.000000,388.000000,353.000000,354.000000,351.000000,356.000000,381.000000,383.000000,313.000000,312.000000,348.000000
mean,199.500000,51.483376,76.469072,1.017408,1.016949,0.450142,148.036517,57.425722,3.072454,137.528754,4.627244,12.526437
std,115.614301,17.169714,13.683637,0.005717,1.352679,1.099191,79.281714,50.503006,5.741126,10.408752,3.193904,2.912587
min,0.000000,2.000000,50.000000,1.005000,0.000000,0.000000,22.000000,1.500000,0.400000,4.500000,2.500000,3.100000
25%,99.750000,42.000000,70.000000,1.010000,0.000000,0.000000,99.000000,27.000000,0.900000,135.000000,3.800000,10.300000
50%,199.500000,55.000000,80.000000,1.020000,0.000000,0.000000,121.000000,42.000000,1.300000,138.000000,4.400000,12.650000
75%,299.250000,64.500000,80.000000,1.020000,2.000000,0.000000,163.000000,66.000000,2.800000,142.000000,4.900000,15.000000
max,399.000000,90.000000,180.000000,1.025000,5.000000,5.000000,490.000000,391.000000,76.000000,163.000000,47.000000,17.800000

In [6]:
df.isna().sum()

id                  0
age                 9
bp                 12
sg                 47
al                 46
su                 49
rbc               152
pc                 65
pcc                 4
ba                  4
bgr                44
bu                 19
sc                 17
sod                87
pot                88
hemo               52
pcv                70
wc                105
rc                130
htn                 2
dm                  2
cad                 2
appet               1
pe                  1
ane                 1
classification      0
dtype: int64

In [7]:
x=df['classification'].value_counts()
print(x)

classification
ckd       248
notckd    150
ckd\t       2
Name: count, dtype: int64

In [8]:
z=df['classification']
z.replace({'ckd\t':'ckd'},inplace=True)
z.value_counts()

classification
ckd       250
notckd    150
Name: count, dtype: int64

In [9]:
df.rename(columns={'classification':'KidneyDisease'},inplace=True)
df.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,KidneyDisease
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [10]:
a=df['age'].median()
print(a)

55.0

In [11]:
df['age'].fillna(a,inplace=True)
df.isna().sum()

C:\Users\nihal\AppData\Local\Temp\ipykernel_932\1824384543.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['age'].fillna(a,inplace=True)

id                 0
age                0
bp                12
sg                47
al                46
su                49
rbc              152
pc                65
pcc                4
ba                 4
bgr               44
bu                19
sc                17
sod               87
pot               88
hemo              52
pcv               70
wc               105
rc               130
htn                2
dm                 2
cad                2
appet              1
pe                 1
ane                1
KidneyDisease      0
dtype: int64

In [12]:
y=df['pcc']
y.backfill(inplace=True)

C:\Users\nihal\AppData\Local\Temp\ipykernel_932\1189204450.py:2: FutureWarning: DataFrame.backfill/Series.backfill is deprecated. Use DataFrame.bfill/Series.bfill instead
  y.backfill(inplace=True)

In [13]:
df['appet'].backfill(inplace=True)
df.isna().sum()

C:\Users\nihal\AppData\Local\Temp\ipykernel_932\229025532.py:1: FutureWarning: DataFrame.backfill/Series.backfill is deprecated. Use DataFrame.bfill/Series.bfill instead
  df['appet'].backfill(inplace=True)

id                 0
age                0
bp                12
sg                47
al                46
su                49
rbc              152
pc                65
pcc                0
ba                 4
bgr               44
bu                19
sc                17
sod               87
pot               88
hemo              52
pcv               70
wc               105
rc               130
htn                2
dm                 2
cad                2
appet              0
pe                 1
ane                1
KidneyDisease      0
dtype: int64

In [14]:
df['pe'].dropna(inplace=True)

In [15]:
import pandas as pd

In [16]:
a=df['bp'].mean()
print(a)

76.46907216494846

In [17]:
df['bp'].fillna(77,inplace=True)

C:\Users\nihal\AppData\Local\Temp\ipykernel_932\3429016402.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['bp'].fillna(77,inplace=True)

In [18]:
a=df['bp'].mean()
print(a)

76.485

In [19]:
a=df['sg'].mean()
print(a)
df['sg'].fillna(1.01,inplace=True)

1.0174079320113314

C:\Users\nihal\AppData\Local\Temp\ipykernel_932\2313797765.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['sg'].fillna(1.01,inplace=True)

In [20]:
a=df['al'].mean()
print(a)
df['al'].fillna(1.01,inplace=True)

1.0169491525423728

C:\Users\nihal\AppData\Local\Temp\ipykernel_932\3776851237.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['al'].fillna(1.01,inplace=True)

In [21]:
df['su'].fillna(0,inplace=True)

C:\Users\nihal\AppData\Local\Temp\ipykernel_932\3762915820.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['su'].fillna(0,inplace=True)

In [22]:
df['rbc'].ffill(inplace=True)

C:\Users\nihal\AppData\Local\Temp\ipykernel_932\3555599973.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['rbc'].ffill(inplace=True)

In [23]:
df['rbc'].backfill(inplace=True)

C:\Users\nihal\AppData\Local\Temp\ipykernel_932\2748911329.py:1: FutureWarning: DataFrame.backfill/Series.backfill is deprecated. Use DataFrame.bfill/Series.bfill instead
  df['rbc'].backfill(inplace=True)

In [24]:
df['pc'].backfill(inplace=True)

C:\Users\nihal\AppData\Local\Temp\ipykernel_932\1803896199.py:1: FutureWarning: DataFrame.backfill/Series.backfill is deprecated. Use DataFrame.bfill/Series.bfill instead
  df['pc'].backfill(inplace=True)

In [25]:
df['ba'].backfill(inplace=True)

C:\Users\nihal\AppData\Local\Temp\ipykernel_932\2291507914.py:1: FutureWarning: DataFrame.backfill/Series.backfill is deprecated. Use DataFrame.bfill/Series.bfill instead
  df['ba'].backfill(inplace=True)

In [26]:
df.isna().sum()

id                 0
age                0
bp                 0
sg                 0
al                 0
su                 0
rbc                0
pc                 0
pcc                0
ba                 0
bgr               44
bu                19
sc                17
sod               87
pot               88
hemo              52
pcv               70
wc               105
rc               130
htn                2
dm                 2
cad                2
appet              0
pe                 1
ane                1
KidneyDisease      0
dtype: int64

In [27]:
df['bgr'].fillna(148,inplace=True)

C:\Users\nihal\AppData\Local\Temp\ipykernel_932\2596637659.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['bgr'].fillna(148,inplace=True)

In [28]:
df['bu'].fillna(57,inplace=True)

C:\Users\nihal\AppData\Local\Temp\ipykernel_932\3690522319.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['bu'].fillna(57,inplace=True)

In [29]:
df['sc'].fillna(3.1,inplace=True)

C:\Users\nihal\AppData\Local\Temp\ipykernel_932\2918216641.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['sc'].fillna(3.1,inplace=True)

In [30]:
df['sod'].fillna(138,inplace=True)

C:\Users\nihal\AppData\Local\Temp\ipykernel_932\2406629869.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['sod'].fillna(138,inplace=True)

In [31]:
df['pot'].fillna(4.6,inplace=True)

C:\Users\nihal\AppData\Local\Temp\ipykernel_932\3469508091.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['pot'].fillna(4.6,inplace=True)

In [32]:
df['hemo'].fillna(12.5,inplace=True)

C:\Users\nihal\AppData\Local\Temp\ipykernel_932\1676898432.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['hemo'].fillna(12.5,inplace=True)

In [33]:
df['pcv'].backfill(inplace=True)

C:\Users\nihal\AppData\Local\Temp\ipykernel_932\1094386492.py:1: FutureWarning: DataFrame.backfill/Series.backfill is deprecated. Use DataFrame.bfill/Series.bfill instead
  df['pcv'].backfill(inplace=True)

In [34]:
df['wc'].backfill(inplace=True)

C:\Users\nihal\AppData\Local\Temp\ipykernel_932\2393766761.py:1: FutureWarning: DataFrame.backfill/Series.backfill is deprecated. Use DataFrame.bfill/Series.bfill instead
  df['wc'].backfill(inplace=True)

In [35]:
df['rc'].backfill(inplace=True)

C:\Users\nihal\AppData\Local\Temp\ipykernel_932\4292436370.py:1: FutureWarning: DataFrame.backfill/Series.backfill is deprecated. Use DataFrame.bfill/Series.bfill instead
  df['rc'].backfill(inplace=True)

In [36]:
df['htn'].backfill(inplace=True)

C:\Users\nihal\AppData\Local\Temp\ipykernel_932\3496513296.py:1: FutureWarning: DataFrame.backfill/Series.backfill is deprecated. Use DataFrame.bfill/Series.bfill instead
  df['htn'].backfill(inplace=True)

In [37]:
df['dm'].backfill(inplace=True)

C:\Users\nihal\AppData\Local\Temp\ipykernel_932\3657173080.py:1: FutureWarning: DataFrame.backfill/Series.backfill is deprecated. Use DataFrame.bfill/Series.bfill instead
  df['dm'].backfill(inplace=True)

In [38]:
df['cad'].backfill(inplace=True)

C:\Users\nihal\AppData\Local\Temp\ipykernel_932\407735478.py:1: FutureWarning: DataFrame.backfill/Series.backfill is deprecated. Use DataFrame.bfill/Series.bfill instead
  df['cad'].backfill(inplace=True)

In [39]:
df['pe'].backfill(inplace=True)

C:\Users\nihal\AppData\Local\Temp\ipykernel_932\1004932223.py:1: FutureWarning: DataFrame.backfill/Series.backfill is deprecated. Use DataFrame.bfill/Series.bfill instead
  df['pe'].backfill(inplace=True)

In [40]:
df['ane'].ffill(inplace=True)

C:\Users\nihal\AppData\Local\Temp\ipykernel_932\970040050.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ane'].ffill(inplace=True)

In [41]:
df.isna().sum()

id               0
age              0
bp               0
sg               0
al               0
su               0
rbc              0
pc               0
pcc              0
ba               0
bgr              0
bu               0
sc               0
sod              0
pot              0
hemo             0
pcv              0
wc               0
rc               0
htn              0
dm               0
cad              0
appet            0
pe               0
ane              0
KidneyDisease    0
dtype: int64

In [42]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\nihal\appdata\local\programs\python\python311\lib\site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in c:\users\nihal\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (2.2.1)
Requirement already satisfied: scipy>=1.6.0 in c:\users\nihal\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.15.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\nihal\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\nihal\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (3.5.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [43]:
from sklearn.preprocessing import LabelEncoder
l=LabelEncoder()

In [44]:
df['age']=df['age'].astype(int)

In [45]:
df['bp']=df['bp'].astype(int)

In [46]:
df['sg']=df['sg'].astype(int)

In [47]:
df['al']=df['al'].astype(int)

In [48]:
df['su']=df['su'].astype(int)

In [49]:
df['bgr']=df['bgr'].astype(int)

In [50]:
df['bu']=df['bu'].astype(int)

In [51]:
df['sc']=df['sc'].astype(int)

In [52]:
df['sod']=df['sod'].astype(int)

In [53]:
df['pot']=df['pot'].astype(int)

In [54]:
df['hemo']=df['hemo'].astype(int)

In [55]:
df.drop(['dm','htn','id','pc','pcc','pot'],axis=1,inplace=True)

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            400 non-null    int64
 1   bp             400 non-null    int64
 2   sg             400 non-null    int64
 3   al             400 non-null    int64
 4   su             400 non-null    int64
 5   rbc            400 non-null    object
 6   ba             400 non-null    object
 7   bgr            400 non-null    int64
 8   bu             400 non-null    int64
 9   sc             400 non-null    int64
 10  sod            400 non-null    int64
 11  hemo           400 non-null    int64
 12  pcv            400 non-null    object
 13  wc             400 non-null    object
 14  rc             400 non-null    object
 15  cad            400 non-null    object
 16  appet          400 non-null    object
 17  pe             400 non-null    object
 18  ane            400 non-null    object
 19  KidneyDisease  400 non-null    object
dtypes: int64(10), object(10)
memory usage: 62.6+ KB

In [57]:
df['rbc']=l.fit_transform(df['rbc'])

In [58]:
df['ba']=l.fit_transform(df['ba'])

In [59]:
df['pcv']=l.fit_transform(df['pcv'])

In [60]:
df['wc']=l.fit_transform(df['wc'])

In [61]:
df['rc']=l.fit_transform(df['rc'])

In [62]:
df['cad']=l.fit_transform(df['cad'])

In [63]:
df['appet']=l.fit_transform(df['appet'])

In [64]:
df['pe']=l.fit_transform(df['pe'])

In [65]:
df['ane']=l.fit_transform(df['ane'])

In [66]:
df['rc']=l.fit_transform(df['rc'])

In [67]:
df['KidneyDisease']=l.fit_transform(df['KidneyDisease'])

In [68]:
df.head()

,age,bp,sg,al,su,rbc,ba,bgr,bu,sc,sod,hemo,pcv,wc,rc,cad,appet,pe,ane,KidneyDisease
0,48,80,1,1,0,1,0,121,36,1,138,15,32,72,34,1,0,0,0,0
1,7,50,1,4,0,1,0,148,18,0,138,11,26,56,19,1,0,0,0,0
2,62,80,1,2,3,1,0,423,53,1,138,9,19,70,19,1,1,0,1,0
3,48,70,1,4,0,1,0,117,56,3,111,11,20,62,19,1,1,1,1,0
4,51,80,1,2,0,1,0,106,26,1,138,11,23,68,27,1,0,0,0,0

In [69]:
df.reset_index()

,index,age,bp,sg,al,su,rbc,ba,bgr,bu,...,sod,hemo,pcv,wc,rc,cad,appet,pe,ane,KidneyDisease
0,0,48,80,1,1,0,1,0,121,36,...,138,15,32,72,34,1,0,0,0,0
1,1,7,50,1,4,0,1,0,148,18,...,138,11,26,56,19,1,0,0,0,0
2,2,62,80,1,2,3,1,0,423,53,...,138,9,19,70,19,1,1,0,1,0
3,3,48,70,1,4,0,1,0,117,56,...,111,11,20,62,19,1,1,1,1,0
4,4,51,80,1,2,0,1,0,106,26,...,138,11,23,68,27,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,55,80,1,0,0,1,0,140,49,...,150,15,35,62,30,1,0,0,0,1
396,396,42,70,1,0,0,1,0,75,31,...,141,16,42,72,44,1,0,0,0,1
397,397,12,80,1,0,0,1,0,100,26,...,137,15,37,61,36,1,0,0,0,1
398,398,17,60,1,0,0,1,0,114,50,...,135,14,39,67,41,1,0,0,0,1
399,399,58,80,1,0,0,1,0,131,18,...,141,15,41,63,43,1,0,0,0,1

In [70]:
x=df.drop(['KidneyDisease'],axis=1)
print(x)

     age  bp  sg  al  su  rbc  ba  bgr  bu  sc  sod  hemo  pcv  wc  rc  cad  \
0     48  80   1   1   0    1   0  121  36   1  138    15   32  72  34    1
1      7  50   1   4   0    1   0  148  18   0  138    11   26  56  19    1
2     62  80   1   2   3    1   0  423  53   1  138     9   19  70  19    1
3     48  70   1   4   0    1   0  117  56   3  111    11   20  62  19    1
4     51  80   1   2   0    1   0  106  26   1  138    11   23  68  27    1
..   ...  ..  ..  ..  ..  ...  ..  ...  ..  ..  ...   ...  ...  ..  ..  ...
395   55  80   1   0   0    1   0  140  49   0  150    15   35  62  30    1
396   42  70   1   0   0    1   0   75  31   1  141    16   42  72  44    1
397   12  80   1   0   0    1   0  100  26   0  137    15   37  61  36    1
398   17  60   1   0   0    1   0  114  50   1  135    14   39  67  41    1
399   58  80   1   0   0    1   0  131  18   1  141    15   41  63  43    1

     appet  pe  ane
0        0   0    0
1        0   0    0
2        1   0    1
3        1   1    1
4        0   0    0
..     ...  ..  ...
395      0   0    0
396      0   0    0
397      0   0    0
398      0   0    0
399      0   0    0

[400 rows x 19 columns]

In [71]:
y=df['KidneyDisease']
print(y)

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    1
399    1
Name: KidneyDisease, Length: 400, dtype: int64

In [72]:
from sklearn.model_selection import train_test_split

In [73]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2)

In [74]:
print(xtrain)

     age  bp  sg  al  su  rbc  ba  bgr   bu  sc  sod  hemo  pcv  wc  rc  cad  \
398   17  60   1   0   0    1   0  114   50   1  135    14   39  67  41    1
209   19  70   1   0   0    1   0  148   57   3  138    11    8  64  19    1
114   12  60   1   3   0    0   0  148   51   1  138    12   32   4  24    1
164   14  77   1   0   0    0   0  192   15   0  137    14   28  87  36    1
263   45  80   1   0   0    1   0  117   46   1  137    16   33  80  34    1
..   ...  ..  ..  ..  ..  ...  ..  ...  ...  ..  ...   ...  ...  ..  ..  ...
362   33  80   1   0   0    1   0   89   19   1  144    15   28   4  29    1
309   51  60   1   0   0    1   0  129   25   1  139    17   28  75  41    1
103   76  70   1   2   0    1   0  226  217  10  138    10   24  23  23    1
63    46  70   1   1   0    0   0  150  111   6  131     7   15  64  42    1
30    55  70   1   1   0    0   0   93  155   7  132    12   18  72  20    1

     appet  pe  ane
398      0   0    0
209      0   0    0
114      0   0    0
164      1   1    0
263      0   0    0
..     ...  ..  ...
362      0   0    0
309      0   0    0
103      1   1    1
63       0   0    1
30       0   0    0

[320 rows x 19 columns]

In [75]:
print(xtest)

     age  bp  sg  al  su  rbc  ba  bgr  bu  sc  sod  hemo  pcv  wc  rc  cad  \
173   17  70   1   1   0    0   0   22   1   7  145    13   29  11  27    1
396   42  70   1   0   0    1   0   75  31   1  141    16   42  72  44    1
220   36  80   1   0   0    1   0  103  57   3  138    11   24  81  27    1
313   55  80   1   0   0    1   0  104  28   0  142    17   40  76  29    1
152   39  70   1   0   0    1   0  121  20   0  133    10   20  27   8    1
..   ...  ..  ..  ..  ..  ...  ..  ...  ..  ..  ...   ...  ...  ..  ..  ...
0     48  80   1   1   0    1   0  121  36   1  138    15   32  72  34    1
340   32  70   1   0   0    1   0  100  29   1  142    14   31  62  41    1
289   42  70   1   0   0    1   0   93  32   0  143    16   31  66  35    1
327   30  60   1   0   0    1   0  120  31   0  150    13   32   7  40    1
237   80  70   1   2   2    0   0  141  53   2  138    12   28  88  22    1

     appet  pe  ane
173      0   0    0
396      0   0    0
220      0   0    0
313      0   0    0
152      0   0    0
..     ...  ..  ...
0        0   0    0
340      0   0    0
289      0   0    0
327      0   0    0
237      1   1    0

[80 rows x 19 columns]

In [76]:
xtextnew=[61,90,1,0,2,0,0,148,57,3,138,12,32,90,24,1]

In [77]:
print(ytrain)

398    1
209    0
114    0
164    0
263    1
      ..
362    1
309    1
103    0
63     0
30     0
Name: KidneyDisease, Length: 320, dtype: int64

In [78]:
print(ytest)

173    0
396    1
220    0
313    1
152    0
      ..
0      0
340    1
289    1
327    1
237    0
Name: KidneyDisease, Length: 80, dtype: int64

In [79]:
from sklearn.linear_model import LogisticRegression

In [80]:
model=LogisticRegression()
model.fit(xtrain,ytrain)

c:\Users\nihal\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [81]:
model.predict(xtest)

array([0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0])

In [82]:
print(ytest)

173    0
396    1
220    0
313    1
152    0
      ..
0      0
340    1
289    1
327    1
237    0
Name: KidneyDisease, Length: 80, dtype: int64

In [83]:
model.score(xtest,ytest)

0.9625

In [84]:
import numpy as np
sample_input=np.array([[47,70,1,2,0,0,0,157,90,3,137,12,31,13,24,2,0,0,1]]) 
model.predict(sample_input)

c:\Users\nihal\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([0])